* {
    box-sizing: border-box;

}

body {
    background-color: #F3E5AB;
}

h1{
    text-align: center;
}

table   {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #000000
}

#kbRow2,#kbRow3  {
    display: flex;
    justify-content: center;
    margin:auto;
}

#reset {
    text-align: center;
    display: flex;
    justify-content: center;
    margin:auto;
}

#checkedLtrs {
    display: block;
    display: flex;
    justify-content: center;
    margin:auto;
}

#head,
#leftarm,
#rightarm,
#torso,
#leftleg,
#rightleg {
    display: flex;
    justify-content: center;
    margin:auto;
}

#head {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
  
}

#leftarm {
    width: 5px;
    height: 30px;
    background-color: black;
}

#rightarm {
    width: 5px;
    height: 15px;
    background-color: black;
}

#torso {
    width: 5px;
    height: 15px;
    background-color: black;
}

#leftleg {
    width: 5px;
    height: 15px;
    background-color: black;
}

#rightleg {
    width: 5px;
    height: 15px;
    background-color: black;
}