body {
    background-color: #F3E5AB;
}

h1{
    text-align: center;
    padding-top: 30px;
}

#gm-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    border:1px solid black;
    padding-top: 15px;
    margin: 10px 200px 10px 200px;
    border-radius: 15px;
}

.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: #F3E5AB;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}














/* * {
    box-sizing: border-box;

}


}

h1{
    text-align: center;
}

table   {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

#kbRow2,#kbRow3  {
    display: flex;
    justify-content: center;
    margin:auto;
}

#restart {
    text-align: center;
    display: flex;
    justify-content: center;
    margin:auto;
    background: rgb(226, 113, 131);
    color: white;
}

#checkedLtrs {
    display: block;
    display: flex;
    justify-content: center;
    margin:auto;
}

#the-hangman{
    background: white;
    margin-left: 200px;
    margin-right: 200px ;
}

#the-hangman.lifes-6 .head      { border: 2px solid #000; }
#the-hangman.lifes-4 .left-arm  { background: #000; }
#the-hangman.lifes-3 .right-arm { background: #000; }
#the-hangman.lifes-5 .body      { background: #000; }
#the-hangman.lifes-2 .left-leg  { background: #000; }
#the-hangman.lifes-1 .right-leg { background: #000; }

#head,
#leftarm,
#rightarm,
#torso,
#leftleg,
#rightleg {
    display: flex;
    justify-content: center;
    margin:auto;
}

#head {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
  
}
n
#leftarm,
#leftleg {
    width: 2px;
    height: 25px;
    color: white;
    transform: rotate(25deg);
}

#rightarm,
#rightleg {
    width: 2px;
    height: 25px;
    color: white;
    transform: rotate(130deg);
}

#torso {
    width: 2px;
    height: 50px;
    color: white;
}

#you-win,
#game-over {
  background: #87D892;
  border: 2px solid #407847;
  border-radius: 6px;
  color: #407847;
  margin: 40px auto 0;
  text-align: center;
  width: 300px;
}

#game-over {
  background: #F9C3B9;
  border-color: #8A2512;
  color: #8A2512;
}

#currentWord span {
    display: inline-block;
    margin: 0 10px;
  } */